hqapi1/src/main/xsd/HQApi1.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Error handling -->
    
    <xs:simpleType name="ResponseStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Success"/>
            <xs:enumeration value="Failure"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="ServiceError">
        <xs:sequence>
            <xs:element name="ErrorCode" type="xs:string"/>
            <xs:element name="ReasonText" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Response" abstract="true">
        <xs:sequence>
            <xs:element name="Status" type="ResponseStatus"/>
            <xs:element name="Error" type="ServiceError"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="StatusResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- Resource objects -->

    <xs:complexType name="Ip">
        <xs:attribute name="netmask" type="xs:string" use="optional"/>
        <xs:attribute name="mac"     type="xs:string" use="optional"/>
        <xs:attribute name="address" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="ResourcePrototype">
        <xs:attribute name="name"   type="xs:string" use="required"/>
        <xs:attribute name="id"     type="xs:int"    use="required"/>
    </xs:complexType>

    <xs:complexType name="ResourceConfig">
        <xs:attribute name="value"  type="xs:string" use="required"/>
        <xs:attribute name="key"    type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="ResourceProperty">
        <xs:attribute name="value"  type="xs:string" use="required"/>
        <xs:attribute name="key"    type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="ResourceInfo">
        <xs:attribute name="value"  type="xs:string" use="required"/>
        <xs:attribute name="key"    type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="Resource">
        <xs:sequence>
            <!-- Child resources -->
            <xs:element name="Resource" maxOccurs="unbounded" type="Resource"/>
            <!-- Configuration -->
            <xs:element name="ResourceConfig" maxOccurs="unbounded" type="ResourceConfig"/>
            <!-- Custom Properties -->
            <xs:element name="ResourceProperty" maxOccurs="unbounded" type="ResourceProperty"/>
            <!-- Resource type -->
            <xs:element name="ResourcePrototype" maxOccurs="1" type="ResourcePrototype"/>
            <!-- Agent - Only applicable for platform resources -->
            <xs:element name="Agent" maxOccurs="1" type="Agent"/>
            <!-- Ip - Only applicable for platform resources -->
            <xs:element name="Ip" maxOccurs="unbounded" type="Ip"/>
            <!-- Resource info - other key/value attributes that may apply to this resource.
                 e.g installpath, fqdn, autoinventory identifier -->
            <xs:element name="ResourceInfo" maxOccurs="unbounded" type="ResourceInfo"/>
        </xs:sequence>
        <xs:attribute name="location"    type="xs:string" use="optional"/> 
        <xs:attribute name="description" type="xs:string" use="optional"/>
        <xs:attribute name="name"        type="xs:string" use="required"/>
        <xs:attribute name="id"          type="xs:int"    use="optional"/>
    </xs:complexType>

    <xs:element name="ResourcePrototypesResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="ResourcePrototype"
                                    maxOccurs="unbounded" type="ResourcePrototype"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="ResourcePrototypeResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="ResourcePrototype"
                                    type="ResourcePrototype"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreatePlatformRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Agent" type="Agent"/>
                <xs:element name="Resource" type="Resource"/>
                <xs:element name="Prototype" type="ResourcePrototype"/>
                <xs:element name="Ip" type="Ip" maxOccurs="unbounded"/>
                <xs:element name="Fqdn" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreateResourceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Parent" type="Resource"/>
                <xs:element name="Resource" type="Resource"/>
                <xs:element name="Prototype" type="ResourcePrototype"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ResourcesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Resource" maxOccurs="unbounded" type="Resource"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ResourceResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="Resource" type="Resource"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="ResourcesResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="Resource" type="Resource" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- User objects -->

    <xs:complexType name="User">
        <xs:attribute name="passwordHash" type="xs:string"  use="required"/>
        <xs:attribute name="htmlEmail"    type="xs:boolean" use="required"/>
        <xs:attribute name="active"       type="xs:boolean" use="required"/>
        <xs:attribute name="phoneNumber"  type="xs:string"  use="required"/>
        <xs:attribute name="SMSAddress"   type="xs:string"  use="required"/>
        <xs:attribute name="emailAddress" type="xs:string"  use="required"/>
        <xs:attribute name="department"   type="xs:string"  use="required"/>
        <xs:attribute name="lastName"     type="xs:string"  use="required"/>
        <xs:attribute name="firstName"    type="xs:string"  use="required"/>
        <xs:attribute name="name"         type="xs:string"  use="required"/>
        <xs:attribute name="id"           type="xs:int"     use="optional"/>
    </xs:complexType>

    <!-- User Responses -->

    <xs:element name="UserResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="User" minOccurs="0" type="User"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="UsersResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="User" maxOccurs="unbounded" type="User"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="UserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="User" type="User"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="UsersRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="User" maxOccurs="unbounded" type="User"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Role objects -->

    <xs:simpleType name="Operation">
        <xs:restriction base="xs:string">
            <!-- Platform operations -->
            <xs:enumeration value="createPlatform"/>
            <xs:enumeration value="modifyPlatform"/>
            <xs:enumeration value="removePlatform"/>
            <xs:enumeration value="addServer"/>
            <xs:enumeration value="viewPlatform"/>
            <xs:enumeration value="monitorPlatform"/>
            <xs:enumeration value="controlPlatform"/>
            <xs:enumeration value="managePlatformAlerts"/>
            <!-- Server operations -->
            <xs:enumeration value="createServer"/>
            <xs:enumeration value="modifyServer"/>
            <xs:enumeration value="removeServer"/>
            <xs:enumeration value="addService"/>
            <xs:enumeration value="viewServer"/>
            <xs:enumeration value="monitorServer"/>
            <xs:enumeration value="controlServer"/>
            <xs:enumeration value="manageServerAlerts"/>
            <!-- Service operations -->
            <xs:enumeration value="createService"/>
            <xs:enumeration value="modifyService"/>
            <xs:enumeration value="removeService"/>
            <xs:enumeration value="viewService"/>
            <xs:enumeration value="monitorService"/>
            <xs:enumeration value="controlService"/>
            <xs:enumeration value="manageServiceAlerts"/>
            <!-- Application operations -->
            <xs:enumeration value="createApplication"/>
            <xs:enumeration value="modifyApplication"/>
            <xs:enumeration value="removeApplication"/>
            <xs:enumeration value="viewApplication"/>
            <xs:enumeration value="monitorApplication"/>
            <xs:enumeration value="controlApplication"/>
            <xs:enumeration value="manageApplicationAlerts"/>
            <!-- Group operations -->
            <xs:enumeration value="viewResourceGroup"/>
            <xs:enumeration value="manageGroupAlerts"/>
            <xs:enumeration value="modifyResourceGroup"/>
            <xs:enumeration value="addRole"/>
            <xs:enumeration value="removeResourceGroup"/>
            <xs:enumeration value="controlResourceGroup"/>
            <xs:enumeration value="monitorResourceGroup"/>
            <!-- Role ops -->
            <xs:enumeration value="viewRole"/>
            <xs:enumeration value="createRole"/>
            <xs:enumeration value="modifyRole"/>
            <xs:enumeration value="removeRole"/>
            <!-- Subject ops -->
            <xs:enumeration value="viewSubject"/>
            <xs:enumeration value="modifySubject"/>
            <xs:enumeration value="removeSubject"/>
            <xs:enumeration value="createSubject"/>
            <!-- Admin op -->
            <xs:enumeration value="administerCAM"/>
            <!-- Escalation opts -->
            <xs:enumeration value="createEscalation"/>
            <xs:enumeration value="modifyEscalation"/>
            <xs:enumeration value="removeEscalation"/>
            <!-- Resource ops -->
            <xs:enumeration value="createResource"/>
            <xs:enumeration value="modifyResourceType"/>
            <!-- Operation ops -->
            <xs:enumeration value="addOperation"/>
            <xs:enumeration value="removeOperation"/>

        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Role">
        <xs:sequence>
            <xs:element name="Operation" maxOccurs="unbounded" type="Operation"/>
            <xs:element name="User" maxOccurs="unbounded" type="User"/>
        </xs:sequence>
        <xs:attribute name="description" type="xs:string" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="id"   type="xs:int" use="optional"/>
    </xs:complexType>

    <!-- Role response objects -->

    <xs:element name="RoleResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="Role" maxOccurs="1" type="Role"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="RolesResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="Role" maxOccurs="unbounded" type="Role"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="RoleRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Role" type="Role"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RolesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Role" maxOccurs="unbounded" type="Role"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="SetUsersRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Role" type="Role"/>
                <xs:element name="User" maxOccurs="unbounded" type="User"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Group objects -->

    <xs:complexType name="Criteria">
        <xs:sequence>
        	<xs:element name="CriteriaProp" type="CriteriaProp" minOccurs="1" maxOccurs="unbounded" />
     	</xs:sequence>
      	<xs:attribute name="class" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="Group">
        <xs:sequence>
            <xs:element name="CriteriaList"    type="CriteriaList" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ResourcePrototype" type="ResourcePrototype" maxOccurs="1"/>
            <xs:element name="Resource" type="Resource" maxOccurs="unbounded"/>
            <xs:element name="Role" type="Role" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="location"    type="xs:string"/>
        <xs:attribute name="description" type="xs:string"/>
        <xs:attribute name="name"        type="xs:string" use="required"/>
        <xs:attribute name="id"          type="xs:int"    use="optional" />
        <xs:attribute name="resourceId"  type="xs:int"    use="optional" />
    </xs:complexType>

   <xs:complexType name="CriteriaList">
      	<xs:sequence>
          <xs:element name="Criteria" type="Criteria" minOccurs="0" maxOccurs="unbounded" />
     	</xs:sequence>
		<xs:attribute name="any" type="xs:boolean" use="required"/>
    </xs:complexType>


   <xs:complexType name="CriteriaProp">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="type"   type="xs:string" use="required"/>
		<xs:attribute name="value"   type="xs:string" use="required"/>
    </xs:complexType>


    <!-- Group Responses -->

    <xs:element name="GroupsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Group" type="Group" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GroupResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="Group" type="Group" maxOccurs="1"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="GroupsResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="Group" type="Group" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- Metric objects -->

    <xs:complexType name="Metric">
        <xs:sequence>
            <xs:element name="MetricTemplate" type="MetricTemplate"/>
        </xs:sequence>
        <xs:attribute name="collectionType" type="xs:string"  use="required"/>
        <xs:attribute name="indicator"      type="xs:boolean" use="required"/>
        <xs:attribute name="defaultOn"      type="xs:boolean" use="required"/>
        <xs:attribute name="enabled"        type="xs:boolean" use="required"/>
        <xs:attribute name="interval"       type="xs:long"    use="required"/>
        <xs:attribute name="name"           type="xs:string"  use="required"/>
        <xs:attribute name="id"             type="xs:int"     use="required"/>
    </xs:complexType>

    <!-- Metric data -->

    <xs:complexType name="DataPoint">
        <xs:attribute name="value"     type="xs:double"  use="required"/>
        <xs:attribute name="timestamp" type="xs:long"    use="required"/>
    </xs:complexType>

    <xs:complexType name="MetricData">
        <xs:sequence>
             <xs:element name="DataPoint" type="DataPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="resourceId"   type="xs:int" use="required"/>
        <xs:attribute name="resourceName" type="xs:string" use="required"/>
        <xs:attribute name="metricId"     type="xs:int" use="required"/>
        <xs:attribute name="metricName"   type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="LastMetricData">
        <xs:sequence>
             <xs:element name="DataPoint" type="DataPoint" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="resourceId"   type="xs:int" use="required"/>
        <xs:attribute name="resourceName" type="xs:string" use="required"/>
        <xs:attribute name="metricId"     type="xs:int" use="required"/>
        <xs:attribute name="metricName"   type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="MetricDataSummary">
        <xs:attribute name="lastMetric"   type="xs:double" use="optional"/>
        <xs:attribute name="avgMetric"    type="xs:double" use="optional"/>
        <xs:attribute name="maxMetric"    type="xs:double" use="optional"/>
        <xs:attribute name="minMetric"    type="xs:double" use="optional"/>
        <xs:attribute name="endTime"      type="xs:long"   use="required"/>
        <xs:attribute name="startTime"    type="xs:long"   use="required"/>
        <xs:attribute name="category"     type="xs:string" use="required"/>
        <xs:attribute name="units"   	  type="xs:string" use="required"/>
        <xs:attribute name="resourceId"   type="xs:int" use="required"/>
        <xs:attribute name="resourceName" type="xs:string" use="required"/>        
        <xs:attribute name="metricName"   type="xs:string" use="required"/>
        <xs:attribute name="metricTemplateId" type="xs:int" use="required"/>
    </xs:complexType>
    
    <!-- Metric Responses -->

    <xs:element name="MetricResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="Metric" type="Metric" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="MetricsResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="Metric" type="Metric" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="MetricsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Metric" type="Metric" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- MetricData Responses -->

    <xs:element name="MetricDataResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="MetricData" type="MetricData" maxOccurs="1"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="LastMetricDataResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="LastMetricData" type="LastMetricData" maxOccurs="1"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="MetricsDataResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="MetricData" type="MetricData" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="LastMetricsDataResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="LastMetricData" type="LastMetricData" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>


    <xs:element name="MetricsDataSummaryResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="MetricDataSummary" type="MetricDataSummary" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- MetricData Requests -->

    <xs:element name="DataPointsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="DataPoint" type="DataPoint" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="metricId" type="xs:int" use="required"/>
        </xs:complexType>        
    </xs:element>

    <!-- Reschedule request -->

    <xs:element name="MetricsRescheduleRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Resource" type="Resource" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- MetricTemplate objects -->

    <xs:complexType name="MetricTemplate">
        <xs:attribute name="defaultInterval" type="xs:long"    use="required"/>
        <xs:attribute name="category"        type="xs:string"  use="required"/>
        <xs:attribute name="collectionType"  type="xs:string"  use="required"/>
        <xs:attribute name="defaultOn"       type="xs:boolean" use="required"/>
        <xs:attribute name="indicator"       type="xs:boolean" use="required"/>
        <xs:attribute name="plugin"          type="xs:string"  use="required"/>
        <xs:attribute name="units"           type="xs:string"  use="required"/>
        <xs:attribute name="alias"           type="xs:string"  use="required"/>
        <xs:attribute name="name"            type="xs:string"  use="required"/>
        <xs:attribute name="id"              type="xs:int"     use="required"/>
    </xs:complexType>

    <!-- MetricTemplate Responses -->

    <xs:element name="MetricTemplateResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="MetricTemplate" type="MetricTemplate" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="MetricTemplatesResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="MetricTemplate" type="MetricTemplate" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="MetricTemplatesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="MetricTemplate" type="MetricTemplate" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Escalation objects -->

    <xs:complexType name="Notify">
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="EscalationAction">
        <xs:sequence>
   			<xs:element name="Notify" type="Notify" maxOccurs="unbounded" />
    	</xs:sequence>
        <!-- Email or SMS -->
        <xs:attribute name="notifyType" type="xs:string" use="required" />
    	<xs:attribute name="sms"        type="xs:boolean" use="required" />
        <!-- Syslog attributes -->
        <xs:attribute name="syslogMeta"    use="optional"/>
        <xs:attribute name="syslogProduct" use="optional"/>
        <xs:attribute name="syslogVersion" use="optional"/>
        <!-- SNMP attributes -->
        <xs:attribute name="snmpAddress" type="xs:string" use="optional"/>
        <xs:attribute name="snmpNotificationMechanism" type="xs:string" use="optional"/>
        <xs:attribute name="snmpOid" type="xs:string" use="optional"/>
        <xs:attribute name="snmpVariableBindings" type="xs:string" use="optional"/>
        <!-- Base attributes -->
        <xs:attribute name="wait"       type="xs:long" use="required"/>
        <xs:attribute name="actionType" type="xs:string" use="required"/>
        <xs:attribute name="id"         type="xs:int" use="required"/>
    </xs:complexType>

    <xs:complexType name="Escalation">
        <xs:sequence>
            <xs:element name="Action" type="EscalationAction" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="repeat" type="xs:boolean" use="required"/>
        <xs:attribute name="notifyAll" type="xs:boolean" use="required"/>
        <xs:attribute name="maxPauseTime" type="xs:long" use="required"/>
        <xs:attribute name="pauseAllowed" type="xs:boolean" use="required"/>
        <xs:attribute name="description" type="xs:string" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="id" type="xs:int" use="optional"/>
    </xs:complexType>

    <!-- Escalation Responses -->

    <xs:element name="EscalationResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="Escalation" minOccurs="0" type="Escalation"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="EscalationsResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="Escalation" maxOccurs="unbounded" type="Escalation"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="EscalationsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Escalation" maxOccurs="unbounded" type="Escalation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Autodiscvoery objects -->

    <xs:complexType name="AIPlatform">
        <xs:attribute name="fqdn" type="xs:string" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="id"   type="xs:int" use="required"/>
    </xs:complexType>

    <!-- Autodiscovery Responses -->

    <xs:element name="QueueResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="AIPlatform" maxOccurs="unbounded" type="AIPlatform"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- Agent objects -->

    <xs:complexType name="Agent">
        <xs:attribute name="unidirectional" type="xs:boolean" use="required"/>
        <xs:attribute name="version"        type="xs:string" use="required"/>
        <xs:attribute name="port"           type="xs:int"    use="required"/>
        <xs:attribute name="address"        type="xs:string" use="required"/>
        <xs:attribute name="id"             type="xs:int"    use="required"/>
    </xs:complexType>

    <!-- Agent responses -->

    <xs:element name="AgentResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="Agent" type="Agent"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="AgentsResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="Agent" maxOccurs="unbounded" type="Agent"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="PingAgentResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="Up" type="xs:boolean"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="AlertActionConfig">
        <xs:attribute name="value" type="xs:string" use="required"/>
        <xs:attribute name="key" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="AlertAction">
        <xs:sequence>
            <xs:element name="AlertActionConfig" type="AlertActionConfig" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="className" type="xs:string" use="required"/>
        <xs:attribute name="id" type="xs:integer" use="optional"/>
    </xs:complexType>

    <!-- Since conditions must be ordered and inheritence does not work so
         well in JAXB we must define all options -->
    <xs:complexType name="AlertCondition">
        <!-- CProp change conditions -->
        <xs:attribute name="property"            type="xs:string"  use="optional"/>
        <!-- Log conditions -->
        <xs:attribute name="logLevel"            type="xs:string"  use="optional"/>
        <xs:attribute name="logMatches"          type="xs:string"  use="optional"/>
        <!-- Recovery conditions -->
        <xs:attribute name="recoverId"           type="xs:int"     use="optional"/>
        <xs:attribute name="recover"             type="xs:string"  use="optional"/>
        <!-- Metric change condition -->
        <xs:attribute name="metricChange"        type="xs:string"  use="optional"/>
        <!-- Baseline condition -->
        <xs:attribute name="baselineMetric"      type="xs:string"  use="optional"/>
        <xs:attribute name="baselineComparator"  type="xs:string"  use="optional"/>
        <xs:attribute name="baselinePercentage"  type="xs:double"  use="optional"/>
        <xs:attribute name="baselineType"        type="xs:string"  use="optional"/>
        <!-- Metric threshold -->
        <xs:attribute name="thresholdMetric"     type="xs:string"  use="optional"/>
        <xs:attribute name="thresholdComparator" type="xs:string"  use="optional"/>
        <xs:attribute name="thresholdValue"      type="xs:double"  use="optional"/>
        <!-- Config change -->
        <xs:attribute name="configMatch"         type="xs:string"  use="optional"/>
        <!-- Control command -->
        <xs:attribute name="controlAction"       type="xs:string"  use="optional"/>
        <xs:attribute name="controlStatus"       type="xs:string" use="optional"/>
        <!-- All conditions -->
        <xs:attribute name="type"                type="xs:int"     use="required"/>
        <xs:attribute name="required"            type="xs:boolean" use="required"/>
    </xs:complexType>

    <xs:complexType name="AlertDefinition">
        <xs:sequence>
            <xs:element name="Resource" type="Resource" maxOccurs="1"/>
            <xs:element name="ResourcePrototype" type="ResourcePrototype" maxOccurs="1"/>
            <xs:element name="Escalation" type="Escalation" maxOccurs="1"/>
            <!-- The ordering of this list is important -->
            <xs:element name="AlertCondition" type="AlertCondition" maxOccurs="unbounded"/>
            <xs:element name="AlertAction" type="AlertAction" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="controlFiltered" type="xs:boolean" use="required" />
        <xs:attribute name="notifyFiltered"  type="xs:boolean" use="required" />
        <xs:attribute name="willRecover" type="xs:boolean"     use="required" />
        <xs:attribute name="range"       type="xs:int"         use="required" />
        <xs:attribute name="count"       type="xs:int"         use="required" />
        <xs:attribute name="frequency"   type="xs:int"         use="required" />
        <xs:attribute name="active"      type="xs:boolean"     use="required" />
        <xs:attribute name="enabled"     type="xs:boolean"     use="optional" />
        <xs:attribute name="priority"    type="xs:int"         use="required" />
        <xs:attribute name="parent"      type="xs:int"         use="optional" />
        <xs:attribute name="description" type="xs:string"      use="required" />
        <xs:attribute name="name"        type="xs:string"      use="required" />
        <xs:attribute name="id"          type="xs:int"         use="optional" />
        <xs:attribute name="ctime"       type="xs:long"        use="optional" />
        <xs:attribute name="mtime"       type="xs:long"        use="optional" />
    </xs:complexType>

    <xs:element name="AlertDefinitionResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="AlertDefinition" type="AlertDefinition" maxOccurs="1"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="AlertDefinitionsResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="AlertDefinition" type="AlertDefinition" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="AlertDefinitionRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AlertDefinition" maxOccurs="1" type="AlertDefinition"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AlertDefinitionsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AlertDefinition" maxOccurs="unbounded" type="AlertDefinition"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Maintenance objects -->

    <xs:simpleType name="MaintenanceState">
        <xs:restriction base="xs:string">
            <xs:enumeration value="new"/>
            <xs:enumeration value="running"/>
            <xs:enumeration value="complete"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="MaintenanceEvent">
        <xs:sequence>
            <xs:element name="State" maxOccurs="1" type="MaintenanceState"/>
        </xs:sequence>
        <xs:attribute name="endTime"        type="xs:long"    use="required"/>
        <xs:attribute name="startTime"      type="xs:long"    use="required"/>
        <xs:attribute name="groupId"        type="xs:int"     use="required"/>
        <xs:attribute name="modifiedBy"     type="xs:string"  use="optional" />
    </xs:complexType>

    <!-- Maintenance response objects -->

    <xs:element name="MaintenanceResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="MaintenanceEvent" type="MaintenanceEvent" maxOccurs="1"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- Resource Edge objects -->

    <xs:complexType name="ResourceFrom">
        <xs:sequence>
            <xs:element name="Resource" type="Resource" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ResourceTo">
        <xs:sequence>
            <xs:element name="Resource" type="Resource" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ResourceEdge">
        <xs:sequence>
            <xs:element name="ResourceFrom" type="ResourceFrom" minOccurs="1" maxOccurs="1" />
            <xs:element name="ResourceTo" type="ResourceTo" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="relation" type="xs:string" use="required" />
        <xs:attribute name="distance" type="xs:int" use="required" />
    </xs:complexType>

    <!-- Resource Relation Requests -->

    <xs:element name="ResourceEdgesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ResourceEdge" type="ResourceEdge" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Resource Relation Responses -->

    <xs:element name="ResourceEdgesResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="ResourceEdge" type="ResourceEdge" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- Server Config objects -->

    <xs:complexType name="ServerConfig">
        <xs:attribute name="value"  type="xs:string" use="required"/>
        <xs:attribute name="key"    type="xs:string" use="required"/>
    </xs:complexType>

    <!-- Server Config Response objects -->

    <xs:element name="ServerConfigResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="ServerConfig" type="ServerConfig" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- Server Config Request objects -->

    <xs:element name="ServerConfigRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ServerConfig" maxOccurs="unbounded" type="ServerConfig"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Alert objects -->

    <xs:complexType name="EscalationState">
        <xs:attribute name="ackedBy"        type="xs:string" use="required"/>
        <xs:attribute name="escalationId"   type="xs:int"    use="required"/>
        <xs:attribute name="nextActionTime" type="xs:long"   use="required"/>
    </xs:complexType>

    <xs:complexType name="AlertActionLog">
        <xs:attribute name="detail"    type="xs:string" use="required"/>
        <xs:attribute name="user"      type="xs:string" use="required"/>
        <xs:attribute name="timestamp" type="xs:long"   use="required"/>
    </xs:complexType>

    <xs:complexType name="Alert">
        <xs:sequence>
            <xs:element name="EscalationState" type="EscalationState" minOccurs="1" maxOccurs="1" />
            <xs:element name="AlertActionLog" type="AlertActionLog" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>

        <xs:attribute name="reason"            type="xs:string"      use="required"/>
        <xs:attribute name="fixed"             type="xs:boolean"     use="required"/>
        <xs:attribute name="ctime"             type="xs:long"        use="required"/>
        <xs:attribute name="resourceId"        type="xs:int"         use="required"/>
        <xs:attribute name="alertDefinitionId" type="xs:int"         use="required"/>
        <xs:attribute name="name"              type="xs:string"      use="required"/>
        <xs:attribute name="id"                type="xs:int"         use="required"/>
    </xs:complexType>

    <!-- Alert Response objects -->

    <xs:element name="AlertResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="Alert" type="Alert" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="AlertsResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="Alert" type="Alert" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- Alert Request objects -->

    <xs:element name="AlertRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Alert" maxOccurs="1" type="Alert"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Event objects -->

    <xs:complexType name="Event">
        <xs:attribute name="detail"     type="xs:string" use="required"/>
        <xs:attribute name="type"       type="xs:string" use="required"/>
        <xs:attribute name="ctime"      type="xs:long" use="required"/>
        <xs:attribute name="user"       type="xs:string" use="required"/>
        <xs:attribute name="status"     type="xs:string" use="required"/>
        <xs:attribute name="resourceId" type="xs:int" use="required"/>
    </xs:complexType>

    <!-- Event Response objects -->

    <xs:element name="EventsResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="Event" type="Event" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- Control objects -->

    <xs:complexType name="ControlHistory">
        <xs:attribute name="scheduled" type="xs:boolean" use="required"/>
        <xs:attribute name="dateScheduled" type="xs:long" use="required"/>
        <xs:attribute name="endTime" type="xs:long" use="required"/>
        <xs:attribute name="startTime" type="xs:long" use="required"/>
        <xs:attribute name="status" type="xs:string" use="required"/>
        <xs:attribute name="message" type="xs:string" use="required"/>
        <xs:attribute name="description" type="xs:string" use="required"/>
        <xs:attribute name="args" type="xs:string" use="required"/>
        <xs:attribute name="action" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- Control Response objects -->

    <xs:element name="ControlHistoryResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="ControlHistory" type="ControlHistory" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="ControlActionResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="Action" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- Application objects -->

    <xs:complexType name="Application">
        <xs:sequence>
            <xs:element name="Resource" type="Resource" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="bizContact" type="xs:string" use="optional"/>
        <xs:attribute name="opsContact" type="xs:string" use="optional"/>
        <xs:attribute name="engContact" type="xs:string" use="optional"/>
        <xs:attribute name="location" type="xs:string" use="optional"/>
        <xs:attribute name="description" type="xs:string" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="id" type="xs:int" use="optional"/>
    </xs:complexType>

    <!-- Application Requests -->

    <xs:element name="ApplicationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Application" type="Application" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ApplicationsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Application" type="Application" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Application Responses -->

    <xs:element name="ApplicationResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="Application" type="Application" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:extension>
           </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="ApplicationsResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="Application" type="Application" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

</xs:schema>
