hqapi1/src/main/wadl/HQApi1.wadl

<?xml version="1.0"?>
<wadl:application xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:html="http://www.w3.org/1999/xhtml"
             xmlns:wadl="http://wadl.dev.java.net/2009/02">

    <wadl:doc title="HQApi WebService Documentation">
        This document describes the methods available through Hyperic's web
        service API.
    </wadl:doc>

    <wadl:grammars>
        <wadl:include href="../xsd/HQApi1.xsd"/>
    </wadl:grammars>

    <wadl:resources base="http://localhost:8080/hqu/hqapi1/">

        <wadl:resource path="user/get.hqu">
            <wadl:doc title="HQApi User get command">
                Get a User by name.
            </wadl:doc>
            <wadl:method name="GET" id="UserGet">
                <wadl:request>
                    <wadl:param name="name" style="query" required="true"
                                type="xs:string">
                        <wadl:doc>
                            The name of the User to search for.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="UserResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="user/list.hqu">
            <wadl:doc title="HQApi User list command">
                List all Users.
            </wadl:doc>
            <wadl:method name="GET" id="UserList">
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="UsersResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="user/changePassword.hqu">
            <wadl:doc title="HQApi User changePassword command">
                Change the password for the given User.
            </wadl:doc>
            <wadl:method name="GET" id="UserChangePassword">
                                <wadl:request>
                    <wadl:param name="name" style="query" required="true"
                           type="xs:string">
                        <wadl:doc>
                            The name of the User.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="password" style="query" required="true"
                           type="xs:string">
                        <wadl:doc>
                            The new password to assign to the User.
                        </wadl:doc>
                    </wadl:param>                                   
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="StatusResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="user/sync.hqu">
            <wadl:doc title="HQApi User sync command">
                Sync users
            </wadl:doc>
            <wadl:method name="POST" id="userSync">
                <wadl:request>
                    <wadl:representation mediaType="application/xml"
                                         element="UsersRequest"/>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="StatusResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="user/delete.hqu">
            <wadl:doc title="HQApi User delete command">
                Delete a User
            </wadl:doc>
            <wadl:method name="GET" id="UserDelete">
                <wadl:request>
                    <wadl:param name="name" style="query" required="true"
                                type="xs:string">
                        <wadl:doc>
                            The name of the User to search for.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="StatusResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="user/create.hqu">
            <wadl:doc title="HQApi User create command">
                Create a User
            </wadl:doc>
            <wadl:method name="GET" id="UserCreate">
                <wadl:request>
                    <wadl:param name="name" style="query" required="true"
                                type="xs:string">
                        <wadl:doc>
                            The username to create.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="password" style="query" required="true"
                                type="xs:string">
                        <wadl:doc>
                            The password to assign to the created User.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="firstName" style="query" required="true"
                                type="xs:string">
                        <wadl:doc>
                            The first name to assign the created User.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="lastName" style="query" required="true"
                                type="xs:string">
                        <wadl:doc>
                            The last name to assign the created User.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="emailAddress" style="query" required="true"
                                type="xs:string">
                        <wadl:doc>
                            The email address to assign the created User.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="htmlEmail" style="query" required="false"
                                type="xs:boolean">
                        <wadl:doc>
                            Flag to control whether the created User will
                            receive email in HTML or text format.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="active" style="query" required="false"
                                type="xs:boolean">
                        <wadl:doc>
                            Flag to control whether the created User will
                            be active or not.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="department" style="query" required="false"
                                type="xs:string">
                        <wadl:doc>
                            The department to assign the created User.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="phoneNumber" style="query" required="false"
                                type="xs:string">
                        <wadl:doc>
                            The phone number to assign the created User.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="SMSAddress" style="query" required="false"
                                type="xs:string">
                        <wadl:doc>
                            The SMS address to assign the created User.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="UserResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="resource/getResourcePrototypes.hqu">
            <wadl:doc title="HQApi Resource getResourcePrototypes command">
                List ResourcePrototypes
            </wadl:doc>
            <wadl:method name="GET" id="ResourceGetResourcePrototypes">
                <wadl:request>
                    <wadl:param name="existing" style="query" required="false"
                                type="xs:boolean" default="false">
                        <wadl:doc>
                            If set to true, only ResourcePrototypes with
                            Resources of that type in the inventory will be
                            returned.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="ResourcePrototypesResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="resource/getResourcePrototype.hqu">
            <wadl:doc title="HQApi Resource getResourcePrototype command">
                Get a ResourcePrototype
            </wadl:doc>
            <wadl:method name="GET" id="ResourceGetResourcePrototype">
                <wadl:request>
                    <wadl:param name="name" style="query" required="true"
                                type="xs:string">
                        <wadl:doc>
                            The name of the ResourcePrototype to get.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="ResourcePrototypeResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="resource/createPlatform.hqu">
            <wadl:doc title="HQApi Resource createPlatform command">
                Create a platform Resource
            </wadl:doc>
            <wadl:method name="POST" id="ResourceCreatePlatform">
                <wadl:request>
                    <wadl:representation mediaType="application/xml"
                                         element="CreatePlatformRequest"/>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="ResourceResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="resource/createResource.hqu">
            <wadl:doc title="HQApi Resource createResource command">
                Create a server or service Resource
            </wadl:doc>
            <wadl:method name="POST" id="ResourceCreate">
                <wadl:request>
                    <wadl:representation mediaType="application/xml"
                                         element="CreateResourceRequest"/>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="ResourceResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="resource/get.hqu">
            <wadl:doc title="HQApi Resource get command">
                Get a Resource by id or platform name
            </wadl:doc>
            <wadl:method name="GET" id="ResourceGet">
                <wadl:request>
                    <wadl:param name="id" style="query" required="false"
                                type="xs:int">
                        <wadl:doc>
                            The id of the Resource to return.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="platformName" style="query" required="false"
                                type="xs:string">
                        <wadl:doc>
                            The name of the platform Resource to return.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="verbose" style="query" required="false"
                                type="xs:boolean" default="false">
                        <wadl:doc>
                            If set to true, return additional Resource information
                            such as ResourceConfig and ResourceProperty.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="children" style="query" required="false"
                                type="xs:boolean" default="false">
                        <wadl:doc>
                            If set to true, return child Resources of the
                            returned Resource.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="ResourceResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="resource/find.hqu">
            <wadl:doc title="HQApi Resource find command">
                Find Resources by Agent id, ResourcePrototype, or description.
            </wadl:doc>
            <wadl:method name="GET" id="ResourceFind">
                <wadl:request>
                    <wadl:param name="agentId" style="query" required="false"
                                type="xs:int">
                        <wadl:doc>
                            Find Resources serviced by the given Agent id.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="prototype" style="query" required="false"
                                type="xs:string">
                        <wadl:doc>
                            Find Resources of the given ResourcePrototype
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="description" style="query" required="false"
                                type="xs:string">
                        <wadl:doc>
                            Find Resources matching in whole or part the given
                            description.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="verbose" style="query" required="false"
                                type="xs:boolean" default="false">
                        <wadl:doc>
                            If set to true, return additional Resource information
                            such as ResourceConfig and ResourceProperty.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="children" style="query" required="false"
                                type="xs:boolean" default="false">
                        <wadl:doc>
                            If set to true, return child Resources of the
                            returned Resource.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="ResourcesResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="resource/sync.hqu">
            <wadl:doc title="HQApi Resource sync command">
                Sync Resources
            </wadl:doc>
            <wadl:method name="POST" id="ResourceSync">
                <wadl:request>
                    <wadl:representation mediaType="application/xml"
                                         element="ResourcesRequest"/>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="StatusResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="resource/delete.hqu">
            <wadl:doc title="HQApi Resource delete command">
                Delete a Resource
            </wadl:doc>
            <wadl:method name="GET" id="ResourceDelete">
                <wadl:request>
                    <wadl:param name="id" style="query" required="true"
                                type="xs:int">
                        <wadl:doc>
                            The id of the Resource to delete.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="StatusResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="resource/move.hqu">
            <wadl:doc title="HQApi Resource move command">
                Delete a Resource
            </wadl:doc>
            <wadl:method name="GET" id="ResourceMove">
                <wadl:request>
                    <wadl:param name="targetId" style="query" required="true"
                                type="xs:int">
                        <wadl:doc>
                            The id of the Resource to move.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="destinationId" style="query" required="true"
                                type="xs:int">
                        <wadl:doc>
                            The id of the destination Resource.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="StatusResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="metric/getTemplates.hqu">
            <wadl:doc title="HQApi Metric getTemplates command">
                Get the MetricTemplates based on the given ResourcePrototype
            </wadl:doc>
            <wadl:method name="GET" id="MetricGetTemplates">
                <wadl:request>
                    <wadl:param name="prototype" style="query" required="true"
                                type="xs:string">
                        <wadl:doc>
                            The ResourcePrototype to query for MetricTemplates.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="MetricTemplatesResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="metric/getMetricTemplate.hqu">
            <wadl:doc title="HQApi Metric getMetricTemplate command">
                Get a MetricTemplate by id
            </wadl:doc>
            <wadl:method name="GET" id="MetricGetTemplate">
                <wadl:request>
                    <wadl:param name="id" style="query" required="true"
                                type="xs:int">
                        <wadl:doc>
                            The id of the MetricTemplate to return.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="MetricTemplateResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="metric/getMetrics.hqu">
            <wadl:doc title="HQApi Metric getMetrics command">
                Get the Metrics for the given Resource
            </wadl:doc>
            <wadl:method name="GET" id="MetricGetMetrics">
                <wadl:request>
                    <wadl:param name="resourceId" style="query" required="true"
                                type="xs:int">
                        <wadl:doc>
                            The id of the Resource to query for Metrics.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="enabled" style="query" required="false"
                                type="xs:boolean" default="false">
                        <wadl:doc>
                            If set to true, only return Metrics that are currently
                            enabled for collection.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="MetricsResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="metric/getMetric.hqu">
            <wadl:doc title="HQApi Metric getMetric command">
                Get a Metric by id
            </wadl:doc>
            <wadl:method name="GET" id="MetricGetMetric">
                <wadl:request>
                    <wadl:param name="id" style="query" required="true"
                                type="xs:int">
                        <wadl:doc>
                            The id of the Metric to return.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="MetricResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="metric/syncMetrics.hqu">
            <wadl:doc title="HQApi Metric syncMetrics command">
                Sync Metrics
            </wadl:doc>
            <wadl:method name="POST" id="MetricSyncMetrics">
                <wadl:request>
                    <wadl:representation mediaType="application/xml"
                                         element="MetricsRequest"/>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="StatusResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="metric/syncTemplates.hqu">
            <wadl:doc title="HQApi Metric syncTemplates command">
                Sync Metrics
            </wadl:doc>
            <wadl:method name="POST" id="MetricSyncTemplates">
                <wadl:request>
                    <wadl:representation mediaType="application/xml"
                                         element="MetricTemplatesRequest"/>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="StatusResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <!-- Deprecated -->
        <wadl:resource path="metric/getData.hqu">
            <wadl:doc title="HQApi Metric getData command">
                Get MetricData for the specified time window
            </wadl:doc>
            <wadl:method name="GET" id="MetricGetData">
                <wadl:request>
                    <wadl:param name="metricId" style="query" required="true"
                                type="xs:int">
                        <wadl:doc>
                            The id of the Metric to query for MetricData.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="start" style="query" required="true"
                                type="xs:long">
                        <wadl:doc>
                            The start time in milliseconds from the epoch.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="end" style="query" required="true"
                                type="xs:long">
                        <wadl:doc>
                            The end time in milliseconds from the epoch.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="MetricDataResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <!-- Deprecated -->
        <wadl:resource path="metric/getGroupData.hqu">
            <wadl:doc title="HQApi Metric getGroupData command">
                Get MetricData for a MetricTemplate across a compatible Group
            </wadl:doc>
            <wadl:method name="GET" id="MetricGetGroupData">
                <wadl:request>
                    <wadl:param name="groupId" style="query" required="true"
                                type="xs:int">
                        <wadl:doc>
                            The id of the Group to query for MetricData.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="templateId" style="query" required="true"
                                type="xs:int">
                        <wadl:doc>
                            The id of the MetricTemplate to query for MetricData.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="start" style="query" required="true"
                                type="xs:long">
                        <wadl:doc>
                            The start time in milliseconds from the epoch.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="end" style="query" required="true"
                                type="xs:long">
                        <wadl:doc>
                            The end time in milliseconds from the epoch.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="MetricsDataResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <!-- Deprecated -->
        <wadl:resource path="metric/getResourceData.hqu">
            <wadl:doc title="HQApi Metric getResourceData command">
                Get MetricData for a list of Resource's
            </wadl:doc>
            <wadl:method name="GET" id="MetricGetResourceData">
                <wadl:request>
                    <wadl:param name="ids" style="query" required="true"
                                type="xs:int" repeating="true">
                        <wadl:doc>
                            The id's of the Resources to query for MetricData.
                            All Resources in this list must be of the same
                            ResourcePrototype.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="templateId" style="query" required="true"
                                type="xs:int">
                        <wadl:doc>
                            The id of the MetricTemplate to query for MetricData.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="start" style="query" required="true"
                                type="xs:long">
                        <wadl:doc>
                            The start time in milliseconds from the epoch.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="end" style="query" required="true"
                                type="xs:long">
                        <wadl:doc>
                            The end time in milliseconds from the epoch.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="MetricsDataResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>        

        <wadl:resource path="agent/get.hqu">
            <wadl:doc title="HQApi Agent get command">
                Get an Agent
            </wadl:doc>
            <wadl:method name="GET" id="AgentGet">
                <wadl:request>
                    <wadl:param name="id" style="query" required="true"
                                type="xs:int">
                        <wadl:doc>
                            The id of the Agent to return.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="AgentResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="agent/list.hqu">
            <wadl:doc title="HQApi Agent list command">
                List all Agents
            </wadl:doc>
            <wadl:method name="GET" id="AgentList">
                <wadl:request/>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="AgentsResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="agent/ping.hqu">
            <wadl:doc title="HQApi Agent ping command">
                Ping an Agent
            </wadl:doc>
            <wadl:method name="GET" id="AgentPing">
                <wadl:request>
                    <wadl:param name="id" style="query" required="true"
                                type="xs:int">
                        <wadl:doc>
                            The id of the Agent to ping.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="PingAgentResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="autodiscovery/getQueue.hqu">
            <wadl:doc title="HQApi Autodiscovery getQueue command">
                List the Autodiscovery queue
            </wadl:doc>
            <wadl:method name="GET" id="AutodiscoveryGetQueue">
                <wadl:request/>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="QueueResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="autodiscovery/approve.hqu">
            <wadl:doc title="HQApi Autodiscovery approve command">
                Approve a platform Resource into the inventory
            </wadl:doc>
            <wadl:method name="GET" id="AutodiscoveryApprove">
                <wadl:request>
                    <wadl:param name="id" style="query" required="true"
                                type="xs:int">
                        <wadl:doc>
                            The id of the platform Resource to approve.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="StatusResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="maintenance/get.hqu">
            <wadl:doc title="HQApi Maintenance get command">
                Get the maintenance schedule for a Group
            </wadl:doc>
            <wadl:method name="GET" id="MaintenanceGet">
                <wadl:request>
                    <wadl:param name="groupId" style="query" required="true"
                                type="xs:int">
                        <wadl:doc>
                            The id of the Group to get maintenance.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="MaintenanceResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="maintenance/schedule.hqu">
            <wadl:doc title="HQApi Maintenance schedule command">
                Schedule maintenance for a Group
            </wadl:doc>
            <wadl:method name="GET" id="MaintenanceSchedule">
                <wadl:request>
                    <wadl:param name="groupId" style="query" required="true"
                                type="xs:int">
                        <wadl:doc>
                            The id of the Group to put into maintenance.
                        </wadl:doc>
                    </wadl:param>

                    <wadl:param name="start" style="query" required="true"
                                type="xs:long">
                        <wadl:doc>
                            The start time in milliseconds from the epoch.
                        </wadl:doc>
                    </wadl:param>

                    <wadl:param name="end" style="query" required="true"
                                type="xs:long">
                        <wadl:doc>
                            The end time in milliseconds from the epoch.
                        </wadl:doc>
                    </wadl:param>

                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="MaintenanceResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="maintenance/unschedule.hqu">
            <wadl:doc title="HQApi Maintenance unschedule command">
                Unschedule maintenance for a Group
            </wadl:doc>
            <wadl:method name="GET" id="MaintenanceUnschedule">
                <wadl:request>
                    <wadl:param name="groupId" style="query" required="true"
                                type="xs:int">
                        <wadl:doc>
                            The id of the Group to unschedule from maintenance.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="StatusResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="alertdefinition/listDefinitions.hqu">
            <wadl:doc title="HQApi Alertdefinition listDefinitions command">
                List AlertDefinitions.  If multiple optional parameters are used
                the returned list will be the union of all parameters. (Logical
                AND)
            </wadl:doc>
            <wadl:method name="GET" id="AlertDefinitionListDefinitions">
                <wadl:request>
                    <wadl:param name="alertNameFilter" style="query" required="false"
                                type="xs:string">
                        <wadl:doc>
                            If specified, only return AlertDefinitions that have
                            a name matching the given regular expression.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="resourceNameFilter" style="query" required="false"
                                type="xs:string">
                        <wadl:doc>
                            If specified, only return AlertDefinitions that are
                            on Resources with a name matching the given regular
                            expression.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="groupName" style="query" required="false"
                                type="xs:string">
                        <wadl:doc>
                            If specified, only return AlertDefinitions for Resources
                            contained in the specified Group.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="resourceId" style="query" required="false"
                                type="xs:int">
                        <wadl:doc>
                            If specified, only return AlertDefinitions that are
                            assigned to the specified Resource or any descendent
                            Resource.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="escalationId" style="query" required="false"
                                type="xs:int">
                        <wadl:doc>
                            If specified, only return AlertDefinitions that are
                            assigned to the given Escalation.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="excludeTypeBased" style="query" required="false"
                                type="xs:boolean">
                        <wadl:doc>
                            If true, only return AlertDefinitions that are not created
                            as part of a Resource type definition.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="AlertDefinitionsResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="alertdefinition/listDefinitionsByResources.hqu">
            <wadl:doc title="HQApi Alertdefinition listDefinitionsByResources command">
                Sync AlertDefinitions
            </wadl:doc>
            <wadl:method name="POST" id="AlertDefinitionListDefinitionsByResources">
                <wadl:request>
                    <wadl:representation mediaType="application/xml"
                                         element="ResourcesRequest"/>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="AlertDefinitionsResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="alertdefinition/listTypeDefinitions.hqu">
            <wadl:doc title="HQApi Alertdefinition listTypeDefinitions command">
                List type based AlertDefinitions
            </wadl:doc>
            <wadl:method name="GET" id="AlertDefinitionListTypeDefinitions">
                <wadl:request>
                    <wadl:param name="excludeIds" style="query" required="false"
                                default="false" type="xs:boolean">
                        <wadl:doc>
                            If true, do not include AlertDefinition ids in the
                            XML output.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="AlertDefinitionsResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="alertdefinition/delete.hqu">
            <wadl:doc title="HQApi Alertdefinition delete command">
                Delete an AlertDefinition
            </wadl:doc>
            <wadl:method name="GET" id="AlertDefinitionDelete">
                <wadl:request>
                    <wadl:param name="id" style="query" required="true"
                                type="xs:int">
                        <wadl:doc>
                            The id of the AlertDefinition to delete.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="StatusResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="alertdefinition/sync.hqu">
            <wadl:doc title="HQApi Alertdefinition sync command">
                Sync AlertDefinitions
            </wadl:doc>
            <wadl:method name="POST" id="AlertDefinitionSync">
                <wadl:request>
                    <wadl:representation mediaType="application/xml"
                                         element="AlertDefinitionsRequest"/>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="AlertDefinitionsResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="escalation/get.hqu">
            <wadl:doc title="HQApi Escalation get command">
                Get an Escalation
            </wadl:doc>
            <wadl:method name="GET" id="EscalationGet">
                <wadl:request>
                    <wadl:param name="name" style="query" required="true"
                                type="xs:string">
                        <wadl:doc>
                            The name of the Escalation to return.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="EscalationResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="escalation/list.hqu">
            <wadl:doc title="HQApi Escalation list command">
                List Escalations
            </wadl:doc>
            <wadl:method name="GET" id="EscalationList">
                <wadl:request/>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="EscalationsResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="escalation/delete.hqu">
            <wadl:doc title="HQApi Escalation delete command">
                Delete an AlertDefinition
            </wadl:doc>
            <wadl:method name="GET" id="EscalationDelete">
                <wadl:request>
                    <wadl:param name="id" style="query" required="true"
                                type="xs:int">
                        <wadl:doc>
                            The id of the Escalation to delete.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="StatusResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <!-- Escalation create/update left off intentionally, use sync() -->

        <wadl:resource path="escalation/sync.hqu">
            <wadl:doc title="HQApi Escalation sync command">
                Sync Escalations
            </wadl:doc>
            <wadl:method name="POST" id="EscalationSync">
                <wadl:request>
                    <wadl:representation mediaType="application/xml"
                                         element="EscalationsRequest"/>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="StatusResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="group/get.hqu">
            <wadl:doc title="HQApi Group get command">
                Get a Group
            </wadl:doc>
            <wadl:method name="GET" id="GroupGet">
                <wadl:request>
                    <wadl:param name="name" style="query" required="true"
                                type="xs:string">
                        <wadl:doc>
                            The name of the Group to return.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="GroupResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="group/list.hqu">
            <wadl:doc title="HQApi Group list command">
                List Groups
            </wadl:doc>
            <wadl:method name="GET" id="GroupList">
                <wadl:request>
                    <wadl:param name="compatible" style="query" required="false"
                                type="xs:boolean">
                        <wadl:doc>
                            If specified only return compatible Groups when set
                            to true, or mixed Groups when set to false.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="GroupsResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="group/delete.hqu">
            <wadl:doc title="HQApi Group delete command">
                Delete a Group
            </wadl:doc>
            <wadl:method name="GET" id="GroupDelete">
                <wadl:request>
                    <wadl:param name="id" style="query" required="true"
                                type="xs:int">
                        <wadl:doc>
                            The id of the Group to delete.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="StatusResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="group/sync.hqu">
            <wadl:doc title="HQApi Group sync command">
                Sync Groups
            </wadl:doc>
            <wadl:method name="POST" id="GroupSync">
                <wadl:request>
                    <wadl:representation mediaType="application/xml"
                                         element="GroupsRequest"/>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="GroupsResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="role/get.hqu">
            <wadl:doc title="HQApi Role get command">
                Get a Role
            </wadl:doc>
            <wadl:method name="GET" id="RoleGet">
                <wadl:request>
                    <wadl:param name="name" style="query" required="true"
                                type="xs:string">
                        <wadl:doc>
                            The name of the Role to return.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="RoleResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="role/list.hqu">
            <wadl:doc title="HQApi Role list command">
                List Roles
            </wadl:doc>
            <wadl:method name="GET" id="RoleList">
                <wadl:request/>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="RolesResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="role/delete.hqu">
            <wadl:doc title="HQApi Role delete command">
                Delete a Role
            </wadl:doc>
            <wadl:method name="GET" id="RoleDelete">
                <wadl:request>
                    <wadl:param name="id" style="query" required="true"
                                type="xs:int">
                        <wadl:doc>
                            The id of the Role to delete.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="StatusResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="role/sync.hqu">
            <wadl:doc title="HQApi Role sync command">
                Sync Roles
            </wadl:doc>
            <wadl:method name="POST" id="RoleSync">
                <wadl:request>
                    <wadl:representation mediaType="application/xml"
                                         element="RolesRequest"/>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="StatusResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="serverConfig/getConfig.hqu">
            <wadl:doc title="HQApi ServerConfig getConfig command">
                Get the HQ Server configuration settings
            </wadl:doc>
            <wadl:method name="GET" id="ServerConfigGet">
                <wadl:request/>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="ServerConfigResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="serverConfig/setConfig.hqu">
            <wadl:doc title="HQApi ServerConfig setConfig command">
                Set the HQ Server configuration settings
            </wadl:doc>
            <wadl:method name="POST" id="ServerConfigSet">
                <wadl:request>
                    <wadl:representation mediaType="application/xml"
                                         element="ServerConfigRequest"/>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="StatusResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="alert/find.hqu">
            <wadl:doc title="HQApi Alert find command">
                Find Alerts
            </wadl:doc>
            <wadl:method name="GET" id="AlertFind">
                <wadl:request>
                    <wadl:param name="begin" style="query" required="true"
                                type="xs:long">
                        <wadl:doc>
                            The beginning of the time window in epoch-millis.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="end" style="query" required="true"
                                type="xs:long">
                        <wadl:doc>
                            The end of the time window in epoch-millis.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="count" style="query" required="true"
                                type="xs:int">
                        <wadl:doc>
                            The maximum number of Alerts to return.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="severity" style="query" required="true"
                                type="xs:int">
                        <wadl:doc>
                            The minimum Alert severity to return.  1 = LOW,
                            2 = MEDIUM, 3 = HIGH.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="inEscalation" style="query" required="false"
                                type="xs:boolean">
                        <wadl:doc>
                            If true, only return Alerts which are in Escalation.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="notFixed" style="query" required="false"
                                type="xs:boolean">
                        <wadl:doc>
                            If true, only return Alerts which are not fixed.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="AlertsResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="alert/findByResource.hqu">
            <wadl:doc title="HQApi Alert findByResource command">
                Find Alerts for the given Resource
            </wadl:doc>
            <wadl:method name="GET" id="AlertFindByResource">
                <wadl:request>
                    <wadl:param name="resourceId" style="query" required="true"
                                type="xs:int">
                        <wadl:doc>
                            The id of the Resource to query for Alerts.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="begin" style="query" required="true"
                                type="xs:long">
                        <wadl:doc>
                            The beginning of the time window in epoch-millis.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="end" style="query" required="true"
                                type="xs:long">
                        <wadl:doc>
                            The end of the time window in epoch-millis.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="count" style="query" required="true"
                                type="xs:int">
                        <wadl:doc>
                            The maximum number of Alerts to return.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="severity" style="query" required="false"
                                type="xs:int">
                        <wadl:doc>
                            The minimum Alert severity to return.  1 = LOW,
                            2 = MEDIUM, 3 = HIGH.  Default is 1.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="inEscalation" style="query" required="false"
                                type="xs:boolean">
                        <wadl:doc>
                            If true, only return Alerts which are in Escalation.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="notFixed" style="query" required="false"
                                type="xs:boolean">
                        <wadl:doc>
                            If true, only return Alerts which are not fixed.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="AlertsResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="alert/ack.hqu">
            <wadl:doc title="HQApi Alert ack command">
                Acknowledge an Alert
            </wadl:doc>
            <wadl:method name="GET" id="AlertAck">
                <wadl:request>
                    <wadl:param name="id" style="query" required="true"
                                type="xs:int">
                        <wadl:doc>
                            The id of the Alert to acknowledge.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="reason" style="query" required="true"
                                type="xs:string">
                        <wadl:doc>
                            The reason for the acknowledgement.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="pause" style="query" required="false"
                                type="xs:long">
                        <wadl:doc>
                            If specified, the pause time until the next
                            step in the Escalation.  If set to 0, no pause
                            will be performed.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="AlertsResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="alert/fix.hqu">
            <wadl:doc title="HQApi Alert fix command">
                Fix an Alert
            </wadl:doc>
            <wadl:method name="GET" id="AlertFix">
                <wadl:request>
                    <wadl:param name="id" style="query" required="true"
                                type="xs:int">
                        <wadl:doc>
                            The id of the Alert to fix.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="AlertsResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="alert/delete.hqu">
            <wadl:doc title="HQApi Alert delete command">
                Fix and Alert
            </wadl:doc>
            <wadl:method name="GET" id="AlertDelete">
                <wadl:request>
                    <wadl:param name="id" style="query" required="true"
                                type="xs:int">
                        <wadl:doc>
                            The id of the Alert to delete.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="StatusResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="metricData/get.hqu">
            <wadl:doc title="HQApi MetricData get command">
                Get MetricData for the specified time window for the requested Metric
            </wadl:doc>
            <wadl:method name="GET" id="MetricDataGet">
                <wadl:request>
                    <wadl:param name="id" style="query" required="true"
                                type="xs:int">
                        <wadl:doc>
                            The id of the Metric to query for MetricData.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="start" style="query" required="true"
                                type="xs:long">
                        <wadl:doc>
                            The start time in milliseconds from the epoch.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="end" style="query" required="true"
                                type="xs:long">
                        <wadl:doc>
                            The end time in milliseconds from the epoch.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="MetricDataResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="metricData/getLast.hqu">
            <wadl:doc title="HQApi MetricData getLast command">
                Get the LastMetricData for given Metric
            </wadl:doc>
            <wadl:method name="GET" id="MetricDataGetLast">
                <wadl:request>
                    <wadl:param name="id" style="query" required="true"
                                type="xs:int">
                        <wadl:doc>
                            The id of the Metric to query for MetricData.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="LastMetricDataResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="metricData/getMulti.hqu">
            <wadl:doc title="HQApi MetricData get command">
                Get MetricData for the specified time window for multiple Metrics
            </wadl:doc>
            <wadl:method name="GET" id="MetricDataGetMulti">
                <wadl:request>
                    <wadl:param name="id" style="query" required="true"
                                type="xs:int" repeating="true">
                        <wadl:doc>
                            The ids of the Metrics to query for MetricData.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="start" style="query" required="true"
                                type="xs:long">
                        <wadl:doc>
                            The start time in milliseconds from the epoch.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="end" style="query" required="true"
                                type="xs:long">
                        <wadl:doc>
                            The end time in milliseconds from the epoch.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="MetricsDataResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="metricData/getMultiLast.hqu">
            <wadl:doc title="HQApi MetricData getLast command">
                Get the LastMetricData for given Metric
            </wadl:doc>
            <wadl:method name="GET" id="MetricDataGetMultiLast">
                <wadl:request>
                    <wadl:param name="id" style="query" required="true"
                                type="xs:int" repeating="true">
                        <wadl:doc>
                            The ids of the Metrics to query for MetricData.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="LastMetricsDataResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="metricData/put.hqu">
            <wadl:doc title="HQApi MetricData put command">
                Push DataPoints into the system for the specified Metric
            </wadl:doc>
            <wadl:method name="POST" id="MetricDataPut">
                <wadl:request>
                    <wadl:representation mediaType="application/xml"
                                         element="DataPointsRequest"/>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="StatusResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="event/find.hqu">
            <wadl:doc title="HQApi Event find command">
                Find Events
            </wadl:doc>
            <wadl:method name="GET" id="EventFind">
                <wadl:request>
                    <wadl:param name="begin" style="query" required="true"
                                type="xs:long">
                        <wadl:doc>
                            The start time in milliseconds from the epoch.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="end" style="query" required="true"
                                type="xs:long">
                        <wadl:doc>
                            The end time in milliseconds from the epoch.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="count" style="query" required="true"
                                type="xs:int">
                        <wadl:doc>
                            The maximum number of Events to return.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="status" style="query" required="false"
                                type="xs:string">
                        <wadl:doc>
                            Filter the Events by status.  One of ANY,ERR,WRN,INF,DBG.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="type" style="query" required="false"
                                type="xs:string">
                        <wadl:doc>
                            Filter the Events by type.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="EventsResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="event/findByResource.hqu">
            <wadl:doc title="HQApi Event findByResource command">
                Find Events
            </wadl:doc>
            <wadl:method name="GET" id="EventFindByResource">
                <wadl:request>
                    <wadl:param name="resourceId" style="query" required="true"
                                type="xs:int">
                        <wadl:doc>
                            The id of the Resource to query for Events.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="begin" style="query" required="true"
                                type="xs:long">
                        <wadl:doc>
                            The start time in milliseconds from the epoch.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="end" style="query" required="true"
                                type="xs:long">
                        <wadl:doc>
                            The end time in milliseconds from the epoch.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="EventsResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="control/actions.hqu">
            <wadl:doc title="HQApi Control actions command">
                List available Control actions
            </wadl:doc>
            <wadl:method name="GET" id="ControlActions">
                <wadl:request>
                    <wadl:param name="resourceId" style="query" required="true"
                                type="xs:int">
                        <wadl:doc>
                            The id of the Resource to query for actions.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="ControlActionResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="control/history.hqu">
            <wadl:doc title="HQApi Control history command">
                List Control action history
            </wadl:doc>
            <wadl:method name="GET" id="ControlHistory">
                <wadl:request>
                    <wadl:param name="resourceId" style="query" required="true"
                                type="xs:int">
                        <wadl:doc>
                            The id of the Resource to query for control history.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="ControlHistoryResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="control/execute.hqu">
            <wadl:doc title="HQApi Control execute command">
                Execute a Control action
            </wadl:doc>
            <wadl:method name="GET" id="ControlExecute">
                <wadl:request>
                    <wadl:param name="resourceId" style="query" required="true"
                                type="xs:int">
                        <wadl:doc>
                            The id of the Resource to execute the action on.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="action" style="query" required="true"
                                type="xs:string">
                        <wadl:doc>
                            The Control action to run.
                        </wadl:doc>
                    </wadl:param>
                    <wadl:param name="arguments" style="query" required="false"
                                type="xs:string" repeating="true">
                        <wadl:doc>
                            Arguments to pass to the Control action.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="StatusResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="application/list.hqu">
            <wadl:doc title="HQApi Application list command">
                List Applications
            </wadl:doc>
            <wadl:method name="GET" id="ApplicationList">
                <wadl:request/>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="ApplicationsResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="application/sync.hqu">
            <wadl:doc title="HQApi Role sync command">
                Sync Applications
            </wadl:doc>
            <wadl:method name="POST" id="ApplicationSync">
                <wadl:request>
                    <wadl:representation mediaType="application/xml"
                                         element="ApplicationsRequest"/>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="ApplicationsResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="application/create.hqu">
            <wadl:doc title="HQApi Application create command">
                Create an Application
            </wadl:doc>
            <wadl:method name="POST" id="ApplicationCreate">
                <wadl:request>
                    <wadl:representation mediaType="application/xml"
                                         element="ApplicationRequest"/>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="ApplicationResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="application/update.hqu">
            <wadl:doc title="HQApi Application update command">
                Sync Roles
            </wadl:doc>
            <wadl:method name="POST" id="ApplicationUpdate">
                <wadl:request>
                    <wadl:representation mediaType="application/xml"
                                         element="ApplicationRequest"/>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="ApplicationResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

        <wadl:resource path="application/delete.hqu">
            <wadl:doc title="HQApi Application delete command">
                Delete an Application
            </wadl:doc>
            <wadl:method name="GET" id="ApplicationDelete">
                <wadl:request>
                    <wadl:param name="id" style="query" required="true"
                                type="xs:int">
                        <wadl:doc>
                            The id of the Application to delete.
                        </wadl:doc>
                    </wadl:param>
                </wadl:request>
                <wadl:response>
                    <wadl:representation mediaType="application/xml"
                                         element="StatusResponse"/>
                </wadl:response>
            </wadl:method>
        </wadl:resource>

    </wadl:resources>

</wadl:application>
