xsd/DataPoint.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="DataPoint">
        <xs:attribute name="MetricId"  type="xs:positiveInteger"/>
        <xs:attribute name="Timestamp" type="xs:time"/>
        <xs:attribute name="Value"     type="xs:decimal"/>
    </xs:complexType>

</xs:schema>
