xsd/Escalation.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="Response.xsd"/>

    <!-- Escalation objects -->
    <xs:complexType name="EscalationAction">
        <xs:sequence>
            <xs:element name="Id" type="xs:positiveInteger"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Escalation">
        <xs:sequence>
            <xs:element name="Id" type="xs:positiveInteger"/>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="Action" type="EscalationAction"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Escalation Responses -->
    <xs:element name="GetEscalationResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="Escalation" minOccurs="0" type="Escalation"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreateEscalationResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="Escalation" minOccurs="0" type="Escalation"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="UpdateEscalationResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="Escalation" minOccurs="0" type="Escalation"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="SyncEscalationResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="DeleteEscalationResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

</xs:schema>

