xsd/Group.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="Resource.xsd"/>
    <xs:include schemaLocation="Response.xsd"/>
    <xs:include schemaLocation="Role.xsd"/>
    
    <!-- Group objects -->
    <xs:complexType name="Criteria">
        <xs:all>
            <xs:element name="Id"   type="xs:positiveInteger"/>
            <xs:element name="Name" type="xs:string"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="Group">
        <xs:sequence>
            <xs:element name="Role"        type="Role"     minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="Resource"    type="Resource" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="Criteria"    type="Criteria" minOccurs="0"/>
            <xs:element name="Description" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="Id"   type="xs:positiveInteger"/>
        <xs:attribute name="Name" type="xs:string"/>
        <xs:attribute name="Location"  type="xs:string"/>
        <xs:attribute name="GroupType" type="xs:positiveInteger"/>
        <xs:attribute name="ClusterId" type="xs:positiveInteger"/>
        <xs:attribute name="ResourcePrototype" type="xs:positiveInteger"/>
    </xs:complexType>

    <!-- Group Responses -->
    <xs:complexType name="CreateGroupResponse">
        <xs:complexContent>
            <xs:extension base="Response"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DeleteGroupResponse">
        <xs:complexContent>
            <xs:extension base="Response"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RemoveResourceFromGroupResponse">
        <xs:complexContent>
            <xs:extension base="Response"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AddResourceToGroupResponse">
        <xs:complexContent>
            <xs:extension base="Response"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="GetGroupsResponse">
        <xs:complexContent>
            <xs:extension base="Response">
                <xs:sequence>
                    <xs:element name="Group" maxOccurs="unbounded" type="Group"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="GetResourcesInGroupResponse">
        <xs:complexContent>
            <xs:extension base="Response">
                <xs:sequence>
                    <xs:element name="Resource" maxOccurs="unbounded" type="Resource"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>
