xsd/Metric.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="MetricTemplate.xsd"/>
    <xs:include schemaLocation="Response.xsd"/>

    <!-- Metric objects -->
    <xs:complexType name="Metric">
        <xs:sequence>
            <xs:element name="MetricTemplate" type="MetricTemplate"/>
        </xs:sequence>
        <xs:attribute name="id"             type="xs:int"     use="required"/>
        <xs:attribute name="interval"       type="xs:int"     use="required"/>
        <xs:attribute name="enabled"        type="xs:boolean" use="required"/>
        <xs:attribute name="name"           type="xs:boolean" use="required"/>
        <xs:attribute name="defaultOn"      type="xs:boolean" use="required"/>
        <xs:attribute name="indictor"       type="xs:boolean" use="required"/>
        <xs:attribute name="collectionType" type="xs:string"  use="required"/>
    </xs:complexType>

    <!-- Metric Responses -->
    <xs:element name="EnableMetricResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="DisableMetricResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="SetMetricIntervalResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetMetricResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="Metric" type="Metric" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="ListMetricResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="Metric" type="Metric" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetResourceResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response">
                    <xs:sequence>
                        <xs:element name="Resource" type="Resource" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="PumpDataResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Response"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

</xs:schema>
