xsd/Metric.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="Resource.xsd"/>
    <xs:include schemaLocation="Response.xsd"/>

    <!-- Metric objects -->
    <xs:complexType name="Metric">
        <xs:sequence>
            <xs:element name="Id"       type="xs:positiveInteger"/>
            <xs:element name="Interval" type="xs:positiveInteger"/>
            <xs:element name="Enabled"  type="xs:boolean"/>
            <xs:element name="Resource" type="Resource"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Metric Responses -->
    <xs:complexType name="EnableMetricResponse">
        <xs:complexContent>
            <xs:extension base="Response"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DisableMetricResponse">
        <xs:complexContent>
            <xs:extension base="Response"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SetIntervalResponse">
        <xs:complexContent>
            <xs:extension base="Response"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="GetMetricResponse">
        <xs:complexContent>
            <xs:extension base="Response">
                <xs:sequence>
                    <xs:element name="Metric" type="Metric" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="GetResourceResponse">
        <xs:complexContent>
            <xs:extension base="Response">
                <xs:sequence>
                    <xs:element name="Resource" type="Resource" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>
