xsd/Resource.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Resource objects -->
    <xs:complexType name="Resource">
        <xs:sequence>
            <xs:element name="Id"   type="xs:positiveInteger"/>
            <xs:element name="Name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
