xsd/Response.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="ResponseStatus.xsd"/>
    <xs:include schemaLocation="ServiceError.xsd"/>
    
    <xs:complexType name="Response" abstract="true">
        <xs:sequence>
            <xs:element name="Status" type="ResponseStatus"/>
            <xs:element name="Error" type="ServiceError"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>