xsd/ServiceError.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="ServiceError">
        <xs:sequence>
            <xs:element name="ErrorCode" type="xs:string"/>
            <xs:element name="ReasonText" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>